<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分配部门</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/Theme1/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/Theme1/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Theme1/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/Theme1/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Theme1/css/style.min.css?v=4.1.0" rel="stylesheet">

    <link href="__PUBLIC__/Theme1/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>分配部门 <a href="__URL__/managelists" style="margin-left: 15px; color: #06cbc4">管理员列表</a></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="__URL__/ManageUpdateDepartmentAction/aId/<{$rs_admin.aId}>" class="form-horizontal" id="form-admin-add" >
                            <div class="form-group">
                                <label class="col-sm-2 control-label">请选择部门</label>
                                <div class="col-sm-10">
                                <select class="chosen-select form-control" name="aDid" size="1">
                                    <foreach name="rs_department" item="val_department">
                                    <php>
                                        $selected="";
                                        if($rs_admin["aDid"]==$val_department["dId"]){
                                            $selected="selected";
                                        }
                                    </php>
                                    
                                    <if condition="$val_department.dPid eq 0 AND $val_department.dPsid eq 0">
                                        <option  style="color:#f87ca8" value="<{$val_department.dId}>" <{$selected}>><{$val_department.dName}></option>
                                        <elseif condition="$val_department.dPid neq 0 AND $val_department.dPsid eq 0"/>
                                    <php>
                                    $dPid=$val_department["dPid"];
                                    $department=M("department");
                                    $rsp=$department->where("dId={$dPid}")->find();
                                    </php>
                                    <option style="color:#44a5e4" value="<{$val_department.dId}>" <{$selected}>><{$rsp.dName}> -> <{$val_department.dName}></option>
                                    
                                    <elseif condition="$val_department.dPid eq 0 AND $val_department.dPsid neq 0"/>
                                    <php>
                                    $dPsid=$val_department["dPsid"];
                                    $department=M("department");
                                    $rsps=$department->where("dId={$dPsid}")->find();
                                    $rsPsPid=$rsps["dPid"];
                                    $rsPspe=$department->where("dId={$rsPsPid}")->find();
                                    </php>
                                    <option style="color:#067b14" value="<{$val_department.dId}>" <{$selected}>><{$rsPspe.dName}> -> <{$rsps.dName}> -> <{$val_department.dName}></option>
                                    </if>
                                </foreach>
                                </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">登陆账号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="<{$rs_admin.aUser}>" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">真实姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="<{$rs_admin.aName}>" disabled>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">确定分配</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/Theme1/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/Theme1/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/Theme1/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/Theme1/js/plugins/iCheck/icheck.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/Theme1/check/js/jquery.validate.min.js"></script> 

<script type="text/javascript" src="__PUBLIC__/Theme1/check/js/messages_zh.min.js"></script> 



<script type="text/javascript" src="__PUBLIC__/Theme1/check/js/validate-methods.js"></script> 



   
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    
    <script type="text/javascript">
	$(function(){
	$("#form-admin-add").validate({
		rules:{
			arName:{
				required:true,
			},
           arInfo:{
                required:true,
            },
            
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script> 
    
    
</body>

</html>
