<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>员工附件</title>
    

    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/Theme1/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/Theme1/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="__PUBLIC__/Theme1/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Theme1/css/style.min.css?v=4.1.0" rel="stylesheet">
    

</head>
<script src="__PUBLIC__/Theme1/js/echarts.js"></script>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><{$rs_staffShow.stName}>的附件<a style="margin-left: 15px; color:#06cbc4" href="__URL__/lists">返回列表</a></h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content" >
                    <div align="center"><a href="__URL__/lists"><img src="__ROOT__/<{$rs_staffShow.stEnclosure}>" ></a> </div>
                        <div class="flot-chart">

</div>

</body>

</html>
